USE [RecruitmentAgency]
GO
/****** Object:  Table [dbo].[CandidateBase]    Script Date: 08.05.2020 20:45:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CandidateBase](
	[iannouncement_key] [uniqueidentifier] NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[Patronymic] [nvarchar](50) NULL,
	[About] [nvarchar](255) NULL,
	[BirthDay] [datetime2](7) NOT NULL,
	[Education] [nvarchar](255) NULL,
	[Photo] [image] NULL,
	[Experience] [nvarchar](255) NULL,
	[Profession] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[iannouncement_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IAnnouncement]    Script Date: 08.05.2020 20:45:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IAnnouncement](
	[Id] [uniqueidentifier] NOT NULL,
	[AnnouncementId] [uniqueidentifier] NOT NULL,
	[CreationDate] [datetime2](7) NOT NULL,
	[LastEdited] [datetime2](7) NOT NULL,
	[LastEditorId] [uniqueidentifier] NOT NULL,
	[Type] [int] NOT NULL,
	[IsBlocked] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserBase]    Script Date: 08.05.2020 20:45:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserBase](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](255) NULL,
	[Role] [int] NOT NULL,
	[NotKill] [bit] NOT NULL,
	[About] [nvarchar](255) NULL,
	[Phone] [nvarchar](255) NULL,
	[Email] [nvarchar](255) NULL,
	[Login] [nvarchar](20) NOT NULL,
	[Password] [nvarchar](20) NOT NULL,
	[RegisterDate] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VacancyBase]    Script Date: 08.05.2020 20:45:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VacancyBase](
	[iannouncement_key] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](255) NULL,
	[About] [nvarchar](255) NULL,
	[Employment] [int] NULL,
	[Requirement] [nvarchar](255) NULL,
	[IsOpen] [bit] NULL,
	[ValidDay] [datetime2](7) NULL,
	[Salary] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[iannouncement_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[IAnnouncement] ([Id], [AnnouncementId], [CreationDate], [LastEdited], [LastEditorId], [Type], [IsBlocked]) VALUES (N'64451dfe-f872-41ab-8fdf-0e7a3feb1fae', N'fef7907a-55c6-4fdb-be56-26ec39037aa6', CAST(N'2020-05-04T18:32:19.6486820' AS DateTime2), CAST(N'2020-05-08T10:11:15.6209848' AS DateTime2), N'fe914f60-4138-4204-85c1-5b6291fbf260', 0, 1)
INSERT [dbo].[IAnnouncement] ([Id], [AnnouncementId], [CreationDate], [LastEdited], [LastEditorId], [Type], [IsBlocked]) VALUES (N'4afa2703-0738-4151-ae58-34a4cf58bb35', N'4d63b306-eab7-4b33-9aec-eb8d8337199a', CAST(N'2020-05-08T11:52:24.9668595' AS DateTime2), CAST(N'2020-05-08T11:52:24.9668595' AS DateTime2), N'4d63b306-eab7-4b33-9aec-eb8d8337199a', 1, 0)
INSERT [dbo].[IAnnouncement] ([Id], [AnnouncementId], [CreationDate], [LastEdited], [LastEditorId], [Type], [IsBlocked]) VALUES (N'e8ac8659-394d-47d6-9d7a-46a0ec970c9b', N'fef7907a-55c6-4fdb-be56-26ec39037aa6', CAST(N'2020-05-04T08:41:22.7866739' AS DateTime2), CAST(N'2020-05-08T10:49:20.6370620' AS DateTime2), N'fe914f60-4138-4204-85c1-5b6291fbf260', 1, 0)
INSERT [dbo].[UserBase] ([Id], [Name], [Role], [NotKill], [About], [Phone], [Email], [Login], [Password], [RegisterDate]) VALUES (N'c584962c-2ac0-44ee-acc9-07e8646c44e9', NULL, 4, 0, NULL, NULL, NULL, N'rrrr', N'rr', CAST(N'2020-05-05T21:45:43.8452236' AS DateTime2))
INSERT [dbo].[UserBase] ([Id], [Name], [Role], [NotKill], [About], [Phone], [Email], [Login], [Password], [RegisterDate]) VALUES (N'fef7907a-55c6-4fdb-be56-26ec39037aa6', N'ООО "Рога и копыта"', 3, 0, N'Новенький пользователь', N'633727', N'serg@mail.ru', N'wwww', N'ww', CAST(N'2020-05-03T09:51:53.5628253' AS DateTime2))
INSERT [dbo].[UserBase] ([Id], [Name], [Role], [NotKill], [About], [Phone], [Email], [Login], [Password], [RegisterDate]) VALUES (N'46c9ef9e-a9ef-4af6-8e51-28f10c36fac3', NULL, 2, 0, NULL, NULL, NULL, N'qqqq', N'qq', CAST(N'2020-05-04T22:29:06.1671927' AS DateTime2))
INSERT [dbo].[VacancyBase] ([iannouncement_key], [Name], [About], [Employment], [Requirement], [IsOpen], [ValidDay], [Salary]) VALUES (N'64451dfe-f872-41ab-8fdf-0e7a3feb1fae', N'Сварщик', N'Паять и варить', 2, N'Студент', 1, CAST(N'2020-05-10T00:00:00.0000000' AS DateTime2), 56000)
INSERT [dbo].[VacancyBase] ([iannouncement_key], [Name], [About], [Employment], [Requirement], [IsOpen], [ValidDay], [Salary]) VALUES (N'a7332215-e530-41c6-95fd-53395b1ecbb2', N'1111', N'1111', 4, N'1111', 1, CAST(N'2020-05-18T00:00:00.0000000' AS DateTime2), 13000)
INSERT [dbo].[VacancyBase] ([iannouncement_key], [Name], [About], [Employment], [Requirement], [IsOpen], [ValidDay], [Salary]) VALUES (N'c8f51d33-c2ea-4493-b6f1-8e18f1efd970', N'Кузнец', N'Куять куять и снова куять', 2, NULL, 1, CAST(N'2020-06-08T00:00:00.0000000' AS DateTime2), 150000)
ALTER TABLE [dbo].[CandidateBase]  WITH CHECK ADD  CONSTRAINT [FK_3DBC7D16] FOREIGN KEY([iannouncement_key])
REFERENCES [dbo].[IAnnouncement] ([Id])
GO
ALTER TABLE [dbo].[CandidateBase] CHECK CONSTRAINT [FK_3DBC7D16]
GO
ALTER TABLE [dbo].[IAnnouncement]  WITH CHECK ADD  CONSTRAINT [FK_9921A031] FOREIGN KEY([LastEditorId])
REFERENCES [dbo].[UserBase] ([Id])
GO
ALTER TABLE [dbo].[IAnnouncement] CHECK CONSTRAINT [FK_9921A031]
GO
ALTER TABLE [dbo].[IAnnouncement]  WITH CHECK ADD  CONSTRAINT [FK_D51697C9] FOREIGN KEY([AnnouncementId])
REFERENCES [dbo].[UserBase] ([Id])
GO
ALTER TABLE [dbo].[IAnnouncement] CHECK CONSTRAINT [FK_D51697C9]
GO
ALTER TABLE [dbo].[VacancyBase]  WITH CHECK ADD  CONSTRAINT [FK_BD152FBA] FOREIGN KEY([iannouncement_key])
REFERENCES [dbo].[IAnnouncement] ([Id])
GO
ALTER TABLE [dbo].[VacancyBase] CHECK CONSTRAINT [FK_BD152FBA]
GO
/****** Object:  StoredProcedure [dbo].[AddVacancy]    Script Date: 08.05.2020 20:45:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddVacancy] (@id Uniqueidentifier, @announcementId  Uniqueidentifier, @creationDate DateTime, @lastEdited DateTime, @lastEditorId Uniqueidentifier,
	@type int, @isBlocked bit, @name Nvarchar(MAX), @about Nvarchar(MAX), @employment Nvarchar(MAX), @requirement Nvarchar(MAX), @isOpen bit, @validDay DateTime, @salary int)
AS
BEGIN
	INSERT INTO IAnnouncement (Id, AnnouncementId, CreationDate, LastEdited, LastEditorId, Type, IsBlocked )
	VALUES (@id, @announcementId, @creationDate, @lastEdited, @lastEditorId, @type, @isBlocked);

	INSERT INTO VacancyBase (iannouncement_key, Name, About, Employment, Requirement, IsOpen, ValidDay, Salary)
	VALUES (@id, @name, @about, @employment, @requirement, @isOpen, @validDay, @salary);
END
RETURN 0
GO
